.profile {
  font-family: 'Epilogue';
  height: 100%;
  width: 360px;
}

.email {
  color: rgba(26, 27, 28, 1);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 12px;
  left: 44px;
  line-height: 16px;
  margin: 30px;
  text-align: center;
  width: 273px;
}

.links {
  align-content: space-around;
  align-items: flex-start;
  color: rgba(121, 125, 134, 1);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 80px;
  margin-left: 50px;
  margin-top: 10px;
  width: 80%;
}

.btndone .btnlogout .btnfavorites {
  color: rgba(121, 125, 134, 1);
}

.line {
  border: 0.5px solid rgba(177, 177, 177, 1);
  height: 0;
  left: 36px;
  width: 290px;
}
