.list-recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  margin: auto;
  max-width: 768px;
  right: 0;
}

.filter-options {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10px;
  width: 90%;
}

@media ( max-width : 400px ) {

  .list-recipes {
    flex-direction: row;
  }
}

