h3 {
  color: black;
}

.card {
  background: white;
  border: 0.518px solid #b1b1b1;
  border-radius: 5px;
  height: 10rem;
  margin: 5px;
  overflow: hidden;
  position: relative;
  width: 10rem;
}

.card p {
  background-color: white;
  bottom: -18px;
  left: 0;
  padding: 5px;
  position: absolute;
  right: 0;
}

.card img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* .start-recipe {
  background: #fcc436;
  border-radius: 5px;
  bottom: 0;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: 13px;
  position: fixed;
  width: 336px;
} */

.start-recipe {
  background: #fcc436;
  border-radius: 5px;
  bottom: 0;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: 13px;
  position: fixed;
  width: 336px;
}

.carousel {
  height: 195.21px;
  width: 336px;
}

.list-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.suggestions-title {
  color: #1a1b1c;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 21px;
  left: 23px;
  line-height: 20px;
  margin-bottom: 8px;
  margin-left: 20px;
  margin-top: 30px;
  top: 1151px;
  width: 205px;
}

.favorite-button {
  bottom: 97.27%;
  color: #fcc436;
  height: 20.3px;
  left: 320px;
  position: absolute;
  top: 20px;
  width: 22.89px;
}

.share-button {
  bottom: 97.22%;
  color: #fcc436;
  height: 20px;
  left: 285px;
  position: absolute;
  top: 20px;
  width: 20px;
}

.btnstart {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 100%;
}
