h3 {
  color: black;
}

img {
  text-align: center;
}

.card {
  width: 15rem;
}

.start-recipe {
  bottom: 0;
  position: fixed;
}

.carousel {
  margin-right: 30px;
}

.list-recipes {
  display: flex;
  flex-wrap: wrap;
}
