h3 {
  color: black;
}

.card {
  background: white;
  border: 0.518px solid #b1b1b1;
  border-radius: 5px;
  height: 166.12px;
  left: 12.12px;
  top: 125.1px;
  width: 163.2px;
}

.start-recipe {
  background: #fcc436;
  border-radius: 5px;
  bottom: 0;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  left: 12px;
  line-height: 1.25rem;
  margin: auto;
  padding: 0;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  width: 336px;
}

.carousel {
  height: 195.21px;
  left: 12px;
  position: absolute;
  top: 1151px;
  width: 336.33px;
}

.list-recipes {
  display: flex;
  flex-wrap: wrap;
}

.suggestions-title {
  color: #1a1b1c;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 21px;
  left: 23px;
  line-height: 20px;
  position: absolute;
  top: 1151px;
  width: 205px;
}

.favorite-button {
  bottom: 97.27%;
  color: #fcc436;
  height: 20.3px;
  left: 85.28%;
  position: absolute;
  top: 19px;
  width: 22.89px;
}

.share-button {
  bottom: 97.22%;
  color: #fcc436;
  height: 20px;
  left: 76.67%;
  position: absolute;
  right: 17.77%;
  top: 20px;
  width: 20px;
}
