@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') ;

.checkbox {
  margin-bottom: 2px;
  vertical-align: middle;
}

.checked {
  padding-bottom: 4px;
  padding-left: 10px;
  text-decoration: line-through solid black;
}

.unchecked {
  color: black;
  padding-bottom: 4px;
  padding-left: 10px;
}

.ingredients-title {
  color: #1a1b1c;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 21px;
  left: 23.01px;
}

.ingredient-text {
  padding-left: 6px;
}

/* .ingredients-list {
  background: white;
  border: 0.554px solid #b1b1b1;
  border-radius: 5.351px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 1px;
  padding-right: 15px;
  padding-top: 15px;
} */

