.footer {
  background: rgb(65, 25, 127);
  bottom: 0;
  height: 52px;
  left: 0;
  position: fixed;
  width: 360px;
}

.drink {
  background: rgb(65, 25, 127);
  bottom: 10px;
  left: 10%;
  position: absolute;
}

.meal {
  background: rgb(65, 25, 127);
  bottom: 10px;
  left: 80%;
  position: absolute;
}
