.footer {
  background: rgb(65, 25, 127);
  bottom: 0;
  height: 52px;
  left: 0;
  position: fixed;
  width: 100%;
}

.drink {
  background: rgb(252, 196, 54);
  bottom: 5px;
  left: 56.51px;
  position: absolute;
}

.meal {
  background: rgb(252, 196, 54);
  bottom: 5px;
  left: 81.91%;
  position: absolute;
}
