.footer {
  background: rgb(65, 25, 127);
  bottom: 0;
  height: 52px;
  left: 0;
  position: fixed;
  width: 100vw;
}

.drink {
  background: rgb(65, 25, 127);
  bottom: 5px;
  left: 10%;
  position: absolute;
}

.meal {
  background: rgb(65, 25, 127);
  bottom: 5px;
  position: absolute;
  right: 10%;
}
