.header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.search {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

button {
  background-color: white;
  border: none;
}
