@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') ;

/* .search {
  display: flex;
  justify-content: center;
  margin: 20px 0;
} */

.header {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  left: 0;
  top: 0;
  width: 360px;

  /* width: 90%; */
}


button {
  background-color: white;
  border: none;
}

.faixa {
  align-items: center;
  background: rgba(252, 220, 54, 1);
  display: flex;
  height: 52px;
  justify-content: space-around;
  left: 0;
  top: 0;
  width: 360px;
}

.pageTitle {
  color: rgb(65, 25, 127);
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  height: 100%;
  justify-content: center;
  left: 67px;
  letter-spacing: 0.105em;
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.iconeRecipes {
  height: 39.28px;
  left: 26px;
  top: 6px;
  width: 42.6px;
}

.logoRecipesApp {
  height: 16.97px;
  left: 89.37px;
  top: 20.78px;
  width: 109.13px;
}
